@import "../../../src/styles/variable.css";


.contactInfo{
    background-color: var(--bg-cards);
    color: var(--text-color);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 20px;
}

.contactInfo li {
    padding-bottom: 5px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.contactInfo li a {
    text-decoration: none;
    color: var(--text-color);
}

.contactInfo li svg {
    margin-right: 20px;
}